

snippet env
	\begin{${1}}

	\end{$1}


snippet enum
	\begin{enumerate}
		\item
	\end{enumerate}

snippet itemize
	\begin{itemize}
		\item
	\end{itemize}

snippet eq
	\begin{equation}

	\end{equation}

snippet figure
	\begin{figure}[t!]
		\centering
		\includegraphics[width=\textwidth]{figure/${1}}
		\caption{}
		\label{fig:$1}
	\end{figure}

